h1,h2,h3,h4,h5,h6,dl,dt,dd,p,ul,li,body {
  padding:0;
  margin: 0;
  list-style: none;
  font-style: normal;
  font-size:12px;
  font-family: Arial,"微软雅黑";

}
img{
  border: none;
}
a{
  text-decoration: none;
}

@mixin userem($size){
  $list:320px,375px,414px,384px,360px,412px;
  @each $i in $list{
    @media screen and (max-width: #{$i}){
      html{
        font-size:100px * ($i/$size)
      }
    }
  }
}

//左右居中
@mixin  zuoyou{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
//上下居中
@mixin shangxia{
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}
//上下左右居中
@mixin center{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@mixin  gaizi{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
//规定圆:在引用时：@include yuan(50px)
@mixin yuan ($size){
  height: $size;
  width: $size;
  border-radius: 50%;
}
//规定长方形的宏：在引用时：@include fang(20px,10px)
@mixin changfang($w,$h){
  width: $w;
  height: $h;
}
//规定正方形
@mixin zhengfang($size){
  width:$size;
  height:$size;
}



